@tailwind base;
@tailwind components;
@tailwind utilities;

.messageBox::-webkit-scrollbar {
  width: 10px;
}

.messageBox::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.messageBox::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.messageBox::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --primary: #171717;
  --secondary: #212121;
}
.messages::-webkit-scrollbar {
  width: 10px;
}

.messages::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 10px;
}

.messages::-webkit-scrollbar-track {
  background: #555;
}

.messages::-webkit-scrollbar-thumb:hover {
  background: #888;
}
